<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Confirmation</title>
  <link rel="stylesheet" href="../public/styles/style.css">
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.15.0/gsap.min.js"
      integrity="sha512-oJ8QbaQThQoJZ7oEv+29jfPM6CcP+zUxh3PKJs1vyOhx0UraUrE7PQgeItu3dOuCJyrzWpoYMsVjkkPEBzbUqw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
</head>
<body>
  <div id="navbar-placeholder"></div>
  <div class="container">
    <div class="alert alert-success">
      <h2>Order placed successfully!</h2>
      <p>Thank you for your purchase. You will receive a confirmation email shortly.</p>
      <a href="index.html" class="btn">Continue Shopping</a>
    </div>
  </div>
  <script src="../public/javascript/script.js"></script>
  <script src="../public/javascript/gsap.js"></script>
</body>
</html>